.app {
  background: lightgray;
  padding: 30px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  margin-top: 20px;
}

.category {
  background: #fff;
  display: inline-block;
  height: 150px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin: 20px 4%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 10%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.close {
  cursor: pointer;
  margin-right: 5px;
  font-size: 2rem;
}

.footer {
  position: absolute;
  left: 15px;
  bottom: 6px;
  right: 15px;
}
